html {
    font-family: roboto, Arial, Helvetica, sans-serif;
    border: 25px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 10px 20px;
}
#logo {
    max-height: 60px;
}
.emb-img {
    max-height: 35px;
    margin-left: 13px;
}
.inp-search {
    width: 400px;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    align-content: flex-start;
}

.like {
    width: 30px;
    height: 30px;
}

.main-video{
    float: left;
    margin-left: 30px;
}

.recom-list {
    list-style: none;
}
.no-views {
    max-width: 350px;
}
h3 {
    font-size: 25px;
}
.dislike {
    max-width: 25px;
    padding: 0px 10px 0px 10px;
}

.btn-sub{
    background-color: red;
    border-color: transparent;
    height: 30px;
}

#views{
    text-align: right;
    font-size: 20px;
    float: right;
}

.video1{
    border: 0px;
}